@import "src/components/ui/__variables";

.hero-section {
  background: $primary-color;

  margin: 0;

  display: flex;

  padding: 0px 120px 0px 120px;

  min-height: 631px;

  height: fit-content;

  justify-content: space-between;

  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;

  @media screen and (max-width: $large-screen) {
    padding: 0px 50px 50px 50px;

    display: block;
  }

  @media screen and (max-width: $medium-screen) {
    padding: 0px 32px 50px 32px;
  }

  section {
    // &.first {

    // }
    &.second {
      text-align: right;

      @media screen and (max-width: $large-screen) {
        text-align: center;

        width: 100%;
      }

      @media screen and (max-width: $medium-screen) {
        img {
          width: 100%;

          height: 100%;
        }
      }
    }

    @keyframes smoothbounceImage {
      from {
        transform: translate3d(0, -20px, 0);
      }
      to {
        transform: translate3d(0, 20px, 0);
      }
    }

    img {
      animation: smoothbounceImage 5.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  h1 {
    font-family: DM Sans;

    font-size: 68px;

    font-weight: 700;

    line-height: 100px;

    text-align: left;

    margin-top: 0;

    margin-bottom: 0;

    color: white;

    @media screen and (max-width: $large-screen) {
      font-size: 58px;

      line-height: 80px;
    }

    @media screen and (max-width: $medium-screen) {
      font-size: 48px;

      line-height: 72px;
    }
  }

  .animated-text span {
    opacity: 0;
    animation: animate-text 1.5s forwards;
  }

  @keyframes animate-text {
    to {
      opacity: 1;
    }
  }

  .animated-text span:nth-child(1) {
    animation-delay: 0s;
  }

  .animated-text span:nth-child(2) {
    animation-delay: 0.3s;
  }

  .animated-text span:nth-child(3) {
    animation-delay: 0.6s;
  }

  .animated-text span:nth-child(4) {
    animation-delay: 0.9s;
  }

  .animated-text span:nth-child(5) {
    animation-delay: 1.2s;
  }

  .animated-text span:nth-child(6) {
    animation-delay: 1.5s;
  }

  h5 {
    font-family: Poppins;

    font-size: 19px;

    font-weight: 400;

    line-height: 40px;

    text-align: left;

    color: white;

    @media screen and (max-width: $large-screen) {
      font-size: 16px;

      line-height: 32px;
    }

    @media screen and (max-width: $medium-screen) {
      font-size: 14px;
    }
  }
}
