@import "src/components/ui/__variables";

.feature-image {
  width: 100%;

  height: 100%;

  border-radius: 6px 0px 0px 0px;

  text-align: right;

  @media screen and (max-width: $large-screen) {
    img {
      width: 90%;
    }
  }

  @media screen and (max-width: $medium-screen) {
    margin-top: 40px;
    text-align: center;
    img {
      width: 100%;
    }
  }
}
