@import "src/components/ui/__variables";

.join-banner-images {
  text-align: right;

  @media screen and (max-width: $medium-screen) {
    text-align: center;
  }

  img {
    margin-right: 60px;

    @media screen and (max-width: $large-screen) {
      margin-right: 40px;

      width: 90%;
    }

    @media screen and (max-width: $medium-screen) {
      width: 90%;

      margin-right: 0px;

      margin-left: 35px;
    }
  }
}
